<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>24042499647-m8jg0l464kf3kiht4rhe5chi0pcfve4l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.24042499647-m8jg0l464kf3kiht4rhe5chi0pcfve4l</string>
	<key>API_KEY</key>
	<string>AIzaSyDk4QnSwkf0sak6LPIHe8opuGi85VjMR9o</string>
	<key>GCM_SENDER_ID</key>
	<string>24042499647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.raghav.movielistApp</string>
	<key>PROJECT_ID</key>
	<string>movielist-fe71b</string>
	<key>STORAGE_BUCKET</key>
	<string>movielist-fe71b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:24042499647:ios:4f98c61d3aabbb6867128a</string>
</dict>
</plist>